<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
	</head>

	<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>X用户登陆</h3>
						<form action="login" name="f" method="post">
							<div class="input_outer">
								<span class="u_user"></span>
								<input id="logname" name="logname" onclick="check('logname')" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入用户名">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="logpass" id="logpass" class="text" onclick="check('logpass')" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码">
							</div>
							<span style="font-size: 14px; color: #FFFFFF;"><input type="checkbox" name="">记住用户 <span style="position: relative; right: -55%;"><a href="register.html" style="color: #FFFFFF;">立即注册</a></span></span>
							<div class="mb2">
								<a class="act-but submit" href="javascript:login();" style="color: #FFFFFF">登录</a>
							</div>
							<div class="mb2">
								<a class="act-but submit" href="javascript:cls();" style="color: #FFFFFF">退出</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->
		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>
		<script type="text/javascript"></script>
	</body>

</html>