<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.zr.entity.TUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
</mapper>